.state__page {
    background-image: url('../../images/LOADING.gif');
    background-size: cover;
    display: flex;
    margin-top: -3.8rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}